<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width">
    <title>CloudReminder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag(source=asset_path('favicon.png'), options={}) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap">
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= react_component('MyRouter', {
      content: yield,
      is_sign_in: user_signed_in?,
      rails_asset_path: assets_all, # react_pages_helper.rb
      flash: flash[request.path_info],
      flash_alerts: flash[:flash_alerts] || [],
      validates_errors: flash[:validates_errors] || {},
    }) %>
  </body>
</html>
