<h2>Sign up</h2>

<%= form_with(model: @user_auth_mail, url: user_auth_mail_registration_path, local: true) do |f| %>
  <%= render "users/shared/error_messages", errors: flash[:errors] %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
